@tailwind base;
@tailwind components;
@tailwind utilities;

.login {
  background-image: url(../../public/wooden.webp);
}

::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}